/* Students: Our work lies in the js file. */
img {
  width: 300px;
}

body { /* Visual */
  background:#ccc;
}

#wrapper {
  /* Box-model */
  width: 10%;
  /* Positioning */
  position: fixed;
  margin-left: 85%;
}

.ques{
  float: left;
  width: 80%;
}
#display {
  font-family: monospace;
  font-size: 30px;
  color: lightgoldenrodyellow;
  /* Typography */
  text-align: center;
  /* Visual */
  background: black;
}
#timer {
  font-family: monospace;
  font-size: 30px;
  color: red;
  /* Typography */
  text-align: center;
  /* Visual */
  background: whitesmoke;
}



.btn { /* Typography */
  text-align: center;
  padding: 5px;
  background: rgba(252, 252, 252, 0.788);
  font-size: 19px;
}

.clearFix{
  clear: both;
}

.ques{
  margin: 20px;
  font-size: 20px;
}

.selected-green {
  background-color: lightgreen;
}